<div data-hook="admin_property_form" class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :name do %>
      <%= f.text_field :name, required: true %>
      <%= f.label :name, raw(I18n.t("aypex.admin.name") + required_span_tag) %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.field_container :presentation do %>
      <%= f.text_field :presentation, required: true %>
      <%= f.label :presentation, raw(I18n.t("aypex.admin.presentation") + required_span_tag) %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.field_container :filterable, class: ["form-check"] do %>
      <%= f.check_box :filterable %>
      <%= f.label :filterable, I18n.t("aypex.admin.filterable"), class: 'form-check-label ' %>
    <% end %>
  </div>
</div>
