<fieldset data-hook="store_credit">
  <legend><%= Aypex.t(:store_credit_name) %></legend>
  <div class="table-responsive border rounded">
    <table class="table table-condensed border rounded">
      <tr>
        <th width="20%"><%= Aypex.t(:used) %>:</th>
        <td><%= payment.source.display_amount_used %></td>
      </tr>
      <tr>
        <th><%= Aypex.t(:amount) %>:</th>
        <td><%= payment.source.display_amount %></td>
      </tr>
      <tr>
        <th><%= Aypex.t(:memo) %>:</th>
        <td><%= payment.source.memo %></td>
      </tr>
      <tr>
        <th><%= Aypex.t(:type) %>:</th>
        <td><%= payment.source.category_name %></td>
      </tr>
      <tr>
        <th><%= Aypex.t(:created_by) %>:</th>
        <td><%= payment.source.created_by_email %></td>
      </tr>
      <tr>
        <th><%= Aypex.t(:issued_on) %>:</th>
        <td><%= pretty_time(payment.source.created_at) %></td>
      </tr>
    </table>
  </div>
</fieldset>
