<% content_for :page_title do %>
  <%= plural_resource_name(Aypex::ShippingCategory) %>
<% end %>

<% if @shipping_categories.any? %>
<div class="table-responsive border rounded">
  <table class="table">
    <thead class="text-body-secondary">
      <tr data-hook="categories_header">
        <th>
          <%= I18n.t("aypex.admin.name") %>
        </th>
        <th class="actions text-end">
          <%= link_to_with_icon(I18n.t("aypex.admin.new_shipping_category"), new_object_url, class: "btn-secondary btn btn-sm", icon: 'plus-square.svg', data: {turbo_frame: :modal}) if can? :create, Aypex::ShippingCategory %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_categories.each do |shipping_category| %>
      <tr id="<%= dom_id(shipping_category) %>" data-hook="category_row" data-stream-exit-class="animate__fadeOut">
        <td><%= shipping_category.name %></td>
        <td class="actions">
          <span class="d-flex justify-content-end">
            <%= link_to_edit(shipping_category, data: { turbo_frame: :modal }) if can? :edit, shipping_category %>
            <%= link_to_delete(shipping_category) if can? :edit, shipping_category %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::ShippingCategory)) %>,
    <%= link_to(I18n.t("aypex.admin.add_one"), new_object_url) if can? :create, Aypex::ShippingCategory %>!
  </div>
<% end %>
