<% content_for :page_title do %>
  <%= Aypex.t(:zones) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon Aypex.t(:new_zone), new_object_url, class: "btn-primary btn", icon: 'plus-square.svg', id: 'admin_new_zone_link' %>
<% end if can? :create, Aypex::Zone %>

<% if @zones.any? %>
<div class="table-responsive border rounded">
  <table class="table" id='listing_zones' data-hook>
    <thead class="text-muted">
      <tr data-hook="zones_header">
        <th><%= sort_link @search,:name, I18n.t("aypex.admin.name"), title: 'zones_order_by_name_title' %></th>
        <th>
          <%= sort_link @search,:description, I18n.t("aypex.admin.description"), {}, {title: 'zones_order_by_description_title'} %>
        </th>
        <th><%= Aypex.t(:default_tax_zone) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @zones.each do |zone| %>
        <tr id="<%= dom_id(zone) %>" data-hook="zones_row" data-stream-exit-class="animate__fadeOut">
          <td><%= zone.name %></td>
          <td><%= zone.description %></td>
          <td><%= active_badge(zone.default_tax?) %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(zone) if can? :edit, zone %>
              <%= link_to_delete(zone) if can? :delete, zone %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::Zone)) %>,
    <%= link_to(I18n.t("aypex.admin.add_one"), new_object_url) if can? :create, Aypex::Zone %>!
  </div>
<% end %>

<%= paginate @zones %>
