<div class="row h-100">
  <div id="page-sections-area" class="col-12 p-0" >
    <div class="row g-0 h-100">
      <div id="draggable-sections-holder" class="col-12 col-md-3 h-100 bg-body border-end" style="margin-top:59px">
        <%= turbo_frame_tag :sections do %>
          <div id="page-live-edit-header" class="position-absolute top-0 bg-body border-bottom border-end" style="z-index: 1041; height: 60px; width: calc(25%);">
            <div class="d-grid gap-2 p-2">
              <%= link_to_with_icon(I18n.t('aypex.admin.add_new_section'),
                    aypex.new_admin_cms_page_cms_section_path(@cms_page),
                    icon: 'plus-square.svg',
                    class: 'btn btn-light',
                    data: {turbo_frame: :sections} ) %>
            </div>
          </div>

          <% if @cms_page.cms_sections.any? %>
            <div id="cms-page-sections-area"
                 class="card-body row m-0 p-1 g-0"
                 data-controller="sortable"
                 data-sortable-resource-name-value="cms_section"
                 data-sortable-response-kind-value="turbo-stream">
              <% @cms_page.cms_sections.each do |section| %>
                <%= render 'aypex/admin/cms_pages/section_template', section: section %>
              <% end %>
            </div>
          <% else %>
            <div class="row">
              <div class="col-12">
                <div class="text-center no-objects-found m-5 m-4">
                  <%= raw I18n.t('aypex.admin.no_sections_found_please_add_one') %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="d-none d-md-block col bg-secondary overflow-hidden h-100">
        <div id="live-view-content" class="desktop-live-view p-3 bg-light">
          <%= render 'aypex/admin/shared/iframe', locals: {object: @object} %>
        </div>
      </div>
    </div>
  </div>
</div>
