<div id="<%= dom_id(section) %>" class="col-12 p-0"
     data-sortable-update-url="<%= aypex.update_position_admin_cms_page_cms_section_path(@cms_page, section) %>"
     data-stream-exit-class="animate__fadeOut"
     data-controller="scroll-iframe"
     data-scroll-iframe-identifier-value="<%= section.id %>"
     data-scroll-iframe-iframe-id-value="page-live-preview">
  <div class="row m-0 mb-1 pb-0 border border-secondary">
    <div class="col handle d-flex pe-0 truncate align-items-center">
      <div class="align-self-center overflow-hidden w-100">
          <h6 class="m-0 truncate"><%= section.name %></h6>
          <small class="form-text mt-0 text-body-secondary"><%= aypex_humanize_type(section.type) %></small>
      </div>
    </div>

    <div class="col-auto h-100 d-flex flex-column align-self-sm-stretch p-0 justify-content-between actions cms_section_action_col">
      <%= link_to_edit(section, url: aypex.edit_admin_cms_page_cms_section_path(@cms_page, section), data: { turbo_stream: true }) %>
      <%= link_to_delete(section, url: aypex.admin_cms_page_cms_section_path(@cms_page, section)) if can?(:destroy, section) %>
    </div>
  </div>
</div>
