<%= turbo_frame_tag :product_seo do %>
  <%= form_with model: [:admin, @product], data: {controller: "form-state"} do |f| %>
    <div class="card">
      <%= render 'aypex/admin/shared/card_header', title: I18n.t('aypex.admin.seo') %>

      <div class="card-body">
        <%= f.field_container :meta_title, data: { hook: "admin_product_form_meta_title" }  do %>
          <%= f.text_field :meta_title %>
          <%= f.label :meta_title, I18n.t("aypex.admin.meta_title") %>
        <% end %>

        <%= f.field_container :meta_keywords, data: { hook: "admin_product_form_meta_keywords" } do %>
          <%= f.text_field :meta_keywords %>
          <%= f.label :meta_keywords, I18n.t("aypex.admin.meta_keywords") %>
        <% end %>

        <%= f.field_container :meta_description, data: { hook: "admin_product_form_meta_description" } do %>
          <%= f.text_area :meta_description, style: "height: 100px" %>
          <%= f.label :meta_description, I18n.t("aypex.admin.meta_description") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
