<%= render partial: 'aypex/admin/shared/order_tabs', locals: { current: :customer_returns } %>

<% content_for :page_title do %>
  / <%= Aypex::Reimbursement.model_name.human %> #<%= @reimbursement.number %>
<% end %>

<%= render partial: 'aypex/admin/shared/error_messages', locals: { target: @reimbursement } %>

<fieldset class='no-border-bottom'>
  <legend><%= I18n.t("aypex.admin.items_reimbursed") %></legend>
  <div class="table-responsive border rounded">
    <table class="table table-condensed border rounded reimbursement-reimbursement-items-table">
      <thead class="text-body-secondary">
        <tr>
          <th><%= I18n.t("aypex.admin.product") %></th>
          <th><%= I18n.t("aypex.admin.preferred_reimbursement_type") %></th>
          <th><%= I18n.t("aypex.admin.reimbursement_type_override") %></th>
          <th><%= I18n.t("aypex.admin.exchange_for") %></th>
          <th><%= I18n.t("aypex.admin.pre_tax_amount") %></th>
          <th><%= I18n.t("aypex.admin.total") %></th>
        </tr>
      </thead>
      <tbody>
        <% @reimbursement.return_items.each do |return_item| %>
          <tr>
            <td>
              <div class="variant-name">
                <%= link_to return_item.inventory_unit.variant.name, aypex.edit_admin_product_path(return_item.inventory_unit.variant.product) %>
              </div>
              <div class="variant-options"><%= return_item.inventory_unit.variant.options_text %></div>
            </td>
            <td>
              <%= reimbursement_type_name(return_item.preferred_reimbursement_type) %>
            </td>
            <td>
              <%= reimbursement_type_name(return_item.override_reimbursement_type) %>
            </td>
            <td>
              <%= return_item.exchange_variant.try(:exchange_name) %>
            </td>
            <td>
              <%= return_item.display_pre_tax_amount %>
            </td>
            <td>
              <%= return_item.display_total %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</fieldset>

<fieldset>
  <legend><%= I18n.t("aypex.admin.refunds") %></legend>
  <div class="table-responsive border rounded">
    <table class="table table-condensed border rounded">
      <thead data-hook="customer_return_header">
        <tr>
          <th><%= I18n.t("aypex.admin.description") %></th>
          <th><%= I18n.t("aypex.admin.amount") %></th>
        </tr>
      </thead>
      <tbody>
        <% @reimbursement.refunds.each do |refund| %>
          <tr id="<%= dom_id(refund) %>" data-hook="reimbursement_refund_row">
            <td><%= refund.description %></td>
            <td><%= refund.display_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</fieldset>

<% if @reimbursement.credits.any? %>
  <fieldset>
    <legend><%= I18n.t("aypex.admin.credits") %></legend>
    <div class="table-responsive border rounded">
      <table class="table table-condensed border rounded">
        <thead data-hook="customer_return_header">
          <tr>
            <th><%= I18n.t("aypex.admin.description") %></th>
            <th><%= I18n.t("aypex.admin.amount") %></th>
          </tr>
        </thead>
        <tbody>
          <% @reimbursement.credits.each do |credit| %>
            <tr id="<%= dom_id(credit) %>" data-hook="reimbursement_refund_row">
              <td><%= credit.description %></td>
              <td><%= credit.display_amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
<% end %>
