<div class="row">
  <div class="col-12">
    <div class="field">


      <% @cms_section.cms_components.each do |component| %>
        <%= f.fields_for :cms_components, component do |comp| %>
           <%= comp.hidden_field :content, id: comp.field_id(:content), value: comp.object.content.try(:to_trix_html) || comp.object.content %>

          <rhino-editor input="<%= comp.field_id(:content) %>"
                        data-blob-url-template="<%= Rails.application.routes.url_helpers.rails_service_blob_url(":signed_id", ":filename", only_path: true) %>"
                        data-direct-upload-url="<%= Rails.application.routes.url_helpers.rails_direct_uploads_url only_path: true %>">
           </rhino-editor>

        <% end %>
      <% end %>
      </div>
  </div>
</div>
