<div class="collapse" id="cmsSectionInfo">
  <div class="call-out call-out-info">
    <h5>
      <%= aypex_humanize_type(@cms_section.type) %>
    </h5>
    <p>
      <%= I18n.t('aypex.admin.hero_image_info') %>
    </p>
  </div>
</div>

<% @cms_section.cms_components.each do |component| %>
  <% image = component.image || component.build_image %>
  <%= f.fields_for :cms_components, component do |comp| %>
    <div class="row pb-0">
      <div class="col-12 col-md-4">
       <%= f.field_container :title do %>
         <%= comp.text_field :title %>
         <%= comp.label :title, I18n.t('aypex.admin.title') %>
       <% end %>

       <%= f.field_container :button_text do %>
         <%= comp.text_field :button_text %>
         <%= comp.label :button_text %>
       <% end %>

       <%= comp.fields_for :image, image do |img| %>
         <div class="mb-3">
           <%= img.file_field :attachment %>
         </div>

         <div class="form-group form-floating">
           <%= img.text_area :alt, rows: 4 %>
           <%= img.label :alt, I18n.t("aypex.admin.alt_text") %>
         </div>
       <% end %>
      </div>

      <div class="col-12 col-md-8">
        <%= f.field_container :image do %>
          <% if image.persisted? %>
            <div class="image-container" style="--aspect-ratio:12/5;">
              <%= image_tag(image.generate_url(width: 600), alt: image.alt, class: "w-100") %>
            </div>
          <% end %>

          <small class="form-text text-body-secondary"><%= I18n.t('aypex.admin.please_use_an_image_with_the_aspect_ratio_of') %></small>
        <% end %>
      </div>

      <div class="col-12"><hr></div>

      <div class="col-12 col-md-6">
        <%= f.field_container :linked_resource_type  do %>
          <%= comp.select(:linked_resource_type, aypex_humanize_dropdown_values('Aypex::Cms::Component::HeroImage',
                                          { const: 'LINKED_RESOURCE_TYPES' }),
                                          { include_blank: false }) %>
          <%= comp.label :linked_resource_type, I18n.t('aypex.admin.link_to') %>
        <% end %>
      </div>

      <div class="col-12 col-md-6">
        <%= render "aypex/admin/shared/link_fields", resource: component, f: comp %>
      </div>
    </div>
  <% end %>
<% end %>
