<div class="row pb-0" data-controller="sortable" data-sortable-resource-name-value="cms_component" data-sortable-response-kind-value="turbo-stream">
  <% @cms_section.cms_components.each do |component| %>
    <div id="<%= dom_id(component) %>" class="col-12 col-md-6 mb-3" data-sortable-update-url="<%= aypex.update_position_admin_cms_page_cms_section_cms_component_path(@cms_page, @cms_section, component) %>">
      <div class="card p-3">
        <div class="card-header">
          <h5 class="card-title handle">X</h5>
        </div>

        <%= f.fields_for :cms_components, component  do |comp| %>
          <% image = component.image || component.build_image %>

          <%= f.field_container :image, style: "--aspect-ratio:12/5;" do %>
            <% if image.persisted? %>
              <%= image_tag(image.generate_url(width: 600), alt: image.alt, class: "w-100") %>
            <% end %>
          <% end %>

          <div class="mb-3">
            <%= comp.fields_for :image, image do |img| %>
              <%= img.file_field :attachment %>
            <% end %>
          </div>

          <%= f.field_container :title do %>
            <%= comp.text_field :title %>
            <%= comp.label :title, I18n.t('aypex.admin.title') %>
          <% end %>

          <%= f.field_container :subtitle do %>
            <%= comp.text_field :subtitle %>
            <%= comp.label :subtitle, I18n.t('aypex.admin.subtitle') %>
          <% end %>

          <%= f.field_container :button_text do %>
            <%= comp.text_field :button_text %>
            <%= comp.label :button_text %>
          <% end %>

          <div class="col-12"><hr></div>

          <%= f.field_container :linked_resource_type  do %>
            <%= comp.select(:linked_resource_type, aypex_humanize_dropdown_values('Aypex::Cms::Component::SideBySideImages',
                                            { const: 'LINKED_RESOURCE_TYPES' }),
                                            { include_blank: false }) %>
            <%= comp.label :linked_resource_type, I18n.t('aypex.admin.link_to') %>
          <% end %>

          <%= render "aypex/admin/shared/link_fields", resource: component, f: comp %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
