<div class="form-group form-floating">
  <%= f.text_field :destination, class: 'form-control', placeholder: I18n.t('aypex.admin.url') %>
  <%= f.label :destination, I18n.t('aypex.admin.url') %>
</div>

<div class="form-check">
    <%= f.check_box :new_window, class: 'form-check-input' %>
    <%= f.label :new_window, I18n.t('aypex.admin.open_link_in_new_window'), class: 'form-check-label' %>
</div>
<div class="collapse" id="menuItemLinkInformation">
  <div class="pb-3">
    <div class="call-out call-out-info my-0">
      <h6>
        <%= I18n.t('aypex.admin.url') %>
      </h6>
      <small class="text-body-secondary">
        <%= raw I18n.t('aypex.admin.url_info') %>
      </small>
    </div>
  </div>
</div>
