<%= f.field_container :destination do %>
  <%= f.text_field :destination, class: 'form-control', placeholder: I18n.t('aypex.admin.navigation.url') %>
  <%= f.label :destination, I18n.t('aypex.admin.navigation.url') %>
<% end %>

<%= f.field_container :new_window, class: ["form-check"] do %>
    <%= f.check_box :new_window, class: 'form-check-input' %>
    <%= f.label :new_window, I18n.t('aypex.admin.navigation.open_link_in_new_window'), class: 'form-check-label' %>
<% end %>
<div class="collapse" id="menuItemLinkInformation">
  <div class="pb-3">
    <div class="call-out call-out-info my-0">
      <h6>
        <%= I18n.t('aypex.admin.navigation.url') %>
      </h6>
      <small class="text-body-secondary">
        <%= raw I18n.t('aypex.admin.navigation.url_info') %>
      </small>
    </div>
  </div>
</div>
