<% content_for :breadcrumb do %>
  <%= I18n.t('aypex.admin.customer_returns') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_return_authorisations_index_filters">
    <%= search_form_for [:admin, @search], url: aypex.admin_customer_returns_path do |f| %>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <%= f.label :number_cont, I18n.t("aypex.admin.number") %>
            <%= f.text_field :number_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
      </div>
      <div data-hook="admin_return_authorisations_index_filters_buttons" class="form-actions">
        <%= button I18n.t("aypex.admin.search"), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @collection.any? %>
<div class="table-responsive border rounded">
  <table class="table">
    <thead class="text-body-secondary">
      <tr data-hook="rate_header">
        <th><%= I18n.t("aypex.admin.created_at") %></th>
        <th><%= I18n.t("aypex.admin.number") %></th>
        <th><%= I18n.t("aypex.admin.order") %></th>
        <th><%= I18n.t("aypex.admin.reimbursement_status") %></th>
        <th><%= I18n.t("aypex.admin.pre_tax_total") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |customer_return| %>
        <tr id="<%= dom_id(customer_return) %>" data-hook="customer_return_row">
          <td><%= customer_return.created_at.strftime('%F %T %Z') %></td>
          <td><%= link_to customer_return.number, aypex.edit_admin_order_customer_return_path(customer_return.order, customer_return) %></td>
          <td><%= link_to customer_return.order.number, aypex.edit_admin_order_path(customer_return.order) %></td>
          <td>
            <% if customer_return.fully_reimbursed? %>
              <span class="badge rounded-pill rgb-hsl-success"><%= I18n.t("aypex.admin.reimbursed") %></span>
            <% else %>
              <span class="badge rounded-pill rgb-hsl-muted"><%= I18n.t("aypex.admin.incomplete") %></span>
            <% end %>
          </td>
          <td><%= customer_return.display_pre_tax_total.to_html %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(customer_return, url: aypex.edit_admin_order_customer_return_path(customer_return.order, customer_return)) if can?(:edit, customer_return) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::CustomerReturn)) %>.  </div>
<% end %>

<%= render partial: 'aypex/admin/shared/index_table_options', locals: { collection: @collection, per_page_action: :customer_returns } %>
