<% content_for :breadcrumb do %>
  <%= breadcrumb_builder(current_page_name: I18n.t("aypex.admin.roles")) %>
<% end %>

<% if @roles.any? %>
  <div class="table-responsive border rounded">
    <table class="table">
      <thead class="text-body-secondary">
        <tr data-hook="admin_roles_index_headers">
          <th><%= I18n.t("aypex.admin.role_id") %></th>
          <th class="actions text-end">
            <%= link_to_with_icon(I18n.t("aypex.admin.new_role"), new_object_url, class: "btn-aypex btn btn-sm", icon: 'plus-square.svg', data: {turbo_frame: :modal}) if can? :create, Aypex::Role %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr id="<%= dom_id(role) %>" data-hook="admin_roles_index_rows" data-stream-exit-class="animate__fadeOut">
            <td><%= role.name %></td>
            <td class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit(role, data: { turbo_frame: :modal }) if can? :edit, role %>
                <%= link_to_delete(role) if can? :destroy, role %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::Role)) %>,
    <%= link_to(I18n.t("aypex.admin.add_one"), new_object_url) if can? :create, Aypex::Role %>!
  </div>
<% end %>
