<%= f.label :image, I18n.t("aypex.admin.header_banner") %>
<%= f.field_container :image do %>
  <% if @object.image %>
    <div class="image-container mb-3">
      <%#= image_tag(main_app.cdn_image_url(@object.image.try(:attachment)), class: 'w-100') if @object.image %>
    </div>
  <% end %>
<% end %>

<%= f.fields_for :image do |image|%>
  <%= image.file_field :attachment %>

  <div class="form-group form-floating">
    <%= image.text_area :alt, rows: 4 %>
    <%= image.label :alt, I18n.t("aypex.admin.alt_text") %>
  </div>
<% end %>
