<%= f.field_container :icon do %>
  <% if @category.icon.present? %>
  <span class="ms-2">
    <%= link_to Aypex.t(:remove_image), remove_icon_admin_base_category_category_url(@base_category.id, @category.id), method: :delete %>
  </span>
    <div class="product-image-container mb-3">
      <%= image_tag(main_app.cdn_image_url(@category.icon.try(:attachment)), class: 'w-100') if @category.icon %>
    </div>
  <% end %>
<% end %>

<%= f.label :icon, Aypex.t(:header_banner) %>
<%= f.file_field :icon %>
