<div class="card">
  <div class="card-header">
    <h5 class="card-title"><%= I18n.t('aypex.admin.apis') %></h5>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-fill">
        <%= I18n.t('aypex.admin.storefront_api') %>
        <br>
        <small class="text-muted">
          <%= link_to I18n.t('aypex.admin.learn_more'), 'https://api.aypexcommerce.org/docs/api-v2/api/docs/v2/storefront/index.yaml', target: :blank %>
        </small>
      </div>

      <div>
        <small class="text-muted">
          <%= link_to I18n.t('aypex.admin.download_sdk'), 'https://github.com/aypex/aypex-storefront-api-v2-js-sdk', class: 'btn btn-sm btn-secondary', target: :blank %>
        </small>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-fill">
        <%= I18n.t('aypex.admin.platform_api') %>
        <br>
        <small class="text-muted">
          <%= link_to I18n.t('aypex.admin.learn_more'), 'https://api.aypexcommerce.org/docs/api-v2/YXBpOjg3MzkxODk-platform-api', target: :blank %>
        </small>
      </div>
      <div>
        <small class="text-muted float-end">
          <%= link_to I18n.t('aypex.admin.create_platform_application'), aypex.admin_oauth_applications_path, class: 'btn btn-sm btn-secondary' %>
        </small>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-fill">
        <%= I18n.t('aypex.admin.subscriptions') %>
      </div>
      <div>
        <small class="text-muted float-end">
          <%= link_to I18n.t('aypex.admin.create_webhook_subscriber'), aypex.admin_webhooks_subscribers_path, class: 'btn btn-sm btn-secondary' %>
        </small>
      </div>
    </li>
  </ul>
</div>
