<% content_for :breadcrumb do %>
  <%= breadcrumb_builder(current_page_name: I18n.t("aypex.admin.refund")) %>
<% end %>

<%= form_tag do %>
  <h3><%= I18n.t("aypex.admin.refund") %></h3>
  <fieldset data-hook="credit">
    <p>
      <%= label_tag :amount, I18n.t("aypex.admin.amount") %>
      <%= text_field_tag :amount, @payment.amount, autocomplete: false %>
    </p>
    <p class="form-actions">
      <%= button I18n.t("aypex.admin.make_refund") %>
    </p>
  </fieldset>
<% end %>
