<apx-card>
  <apx-header>
    <h5><%= I18n.t('aypex.admin.states') %></h5>
    <%= link_to I18n.t('aypex.admin.add_new_state'), aypex.new_admin_country_state_path(@country), class: 'btn btn-sm btn-aypex', data: { turbo_frame: :modal } %>
  </apx-header>
  <g-responsive>
    <g-table>
      <g-thead>
        <g-tr style="grid-template-columns: 1fr 2fr;">
          <g-th>
            <%= I18n.t("aypex.admin.name") %>
          </g-th>
          <g-th>
            <%= I18n.t("aypex.admin.abbreviation") %>
          </g-th>
        </g-tr>
      </g-thead>
      <g-tbody>
        <% @country.states.each do |state| %>
          <g-tr style="grid-template-columns: 1fr 1fr 1fr;" id="<%= dom_id(state) %>" data-stream-exit-class="animate__fadeOut">
            <g-td><%= state.name %></g-td>
            <g-td><%= state.abbr %></g-td>
            <g-td class="justify-content-end">
              <div>
                <%= link_to_edit(I18n.t('aypex.admin.edit_state'), url: aypex.edit_admin_country_state_path(@country, state), data: {turbo_frame: :modal}) if can? :edit, state %>
                <%= link_to_delete(state, url: aypex.admin_country_state_path(@country, state)) if can? :delete, state %>
              </div>
            </g-td>
          </g-tr>
        <% end %>
        <% if @country.states.empty? %>
          <g-tr>
            <g-td>
              <%= I18n.t("aypex.admin.none") %>
            </g-td>
          </g-tr>
        <% end %>
      </g-tbody>
    </g-table>
  </g-responsive>
</apx-card>
