<% content_for :page_actions do %>
  <% if @return_authorization.can_cancel? %>
    <%= link_to_with_icon I18n.t('aypex.admin.cancel'), cancel_admin_order_return_authorization_url(@order, @return_authorization), method: :put, data: { confirm: I18n.t("aypex.admin.are_you_sure") }, icon: "delete.svg" %>
  <% end %>
<% end %>

<%= render partial: 'aypex/admin/shared/order_tabs', locals: { current: :return_authorizations } %>

<% content_for :breadcrumb do %>
  / <%= link_to I18n.t("aypex.admin.return_authorizations"), aypex.admin_order_return_authorizations_url %>
  / <%= @return_authorization.number %> (<%= I18n.t("aypex.admin.#{@return_authorization.state.downcase}") %>)
<% end %>

<%= render partial: 'aypex/admin/shared/error_messages', locals: { target: @return_authorization } %>

<%= form_with model: [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button I18n.t('aypex.admin.update'), 'save.svg' %>
      <span class="or"><%= I18n.t("aypex.admin.or") %></span>
      <%= link_to_with_icon I18n.t('aypex.admin.cancel'), aypex.admin_order_return_authorizations_url(@order), icon: 'x-lg.svg' %>
    </div>
  </fieldset>
<% end %>
