<%= render partial: 'aypex/admin/shared/order_tabs', locals: { current: :return_authorizations } %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_builder(current_page_name: I18n.t("aypex.admin.new_return_authorization")) %>
<% end %>

<%= render partial: 'aypex/admin/shared/error_messages', locals: { target: @return_authorization } %>
<%= form_with model: [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button I18n.t("aypex.admin.create"), 'save.svg' %>
      <span class="or"><%= I18n.t("aypex.admin.or") %></span>
      <%= link_to_with_icon I18n.t('aypex.admin.cancel'), aypex.admin_order_return_authorizations_url(@order), icon: 'x-lg.svg' %>
    </div>
  </fieldset>
<% end %>
