<div data-hook="admin_image_form_fields" class="row">
  <div class="col-12">
    <%= f.fields_for :images, @image, child_index: @image.id do |image| %>
      <div class="mb-3">
        <%= image.file_field :attachment %>
      </div>

      <%= f.field_container :alt do %>
        <%= image.text_area :alt, rows: 1 %>
        <%= image.label :alt, I18n.t("aypex.admin.alt_text") %>
      <% end %>


      <% if @option_values&.any? %>
        <%= image.fields_for :private_metadata do |private_metadata| %>
          <%= f.field_container :option_value_ids do %>
            <%= private_metadata.select :option_value_ids, options_from_collection_for_select(@option_values, :id, :name, @image.private_metadata[:option_value_ids]),
                                                            { include_hidden: false },
                                                              multiple: true,
                                                              data: { controller: 'ts-search' } %>

            <%= private_metadata.label :option_values %>
            <small class="text-body-secondary">Options listed are those with the Option Type set to Image Filterable true</small>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
