<% content_for :breadcrumb do %>
  / <%= link_to "#{I18n.t("aypex.admin.payment")} #{@refund.payment.id}", aypex.admin_order_payment_path(@refund.payment.order, @refund.payment) %>
  / <%= I18n.t("aypex.admin.refund") %> <%= @refund.id %>
<% end %>

<%= render 'aypex/admin/shared/error_messages', target: @refund %>

<%= form_with model: [:admin, @refund.payment.order, @refund.payment, @refund] do |f| %>
  <fieldset>
    <div data-hook="admin_refund_form_fields">
      <div class="form-group">
        <%= f.label :amount, I18n.t("aypex.admin.amount") %><br>
        <%= @refund.amount %>
      </div>
      <div class="form-group">
        <%= f.label :refund_reason_id, I18n.t("aypex.admin.reason") %><br>
        <%= f.collection_select(:refund_reason_id, refund_reasons, :id, :name, {}, {data: {controller: 'ts--select'}}) %>
      </div>
    </div>

    <div class="form-actions" data-hook="buttons">
      <%= button I18n.t('aypex.admin.save'), 'save.svg' %>
      <span class="or"><%= I18n.t("aypex.admin.or") %></span>
      <%= link_to_with_icon I18n.t('aypex.admin.cancel'), aypex.admin_order_payments_url(@refund.payment.order), icon: "delete.svg" %>
    </div>
  </fieldset>
<% end %>
