<%= turbo_frame_tag :asset_collection do %>
  <div class="row">
    <% @collection.each do |asset| %>
      <div class="col-2 my-3"
           id="<%= dom_id(asset) %>"
           data-controller="get-id"
           data-get-id-input-value-outlet="#image_asset_id">

        <div class="thumbnail-image-container large-img rounded bg-body border p-2"
             data-action="click->get-id#setValue"
             data-get-id-id-param="<%= asset.id %>">
          <div class="d-flex align-iten-center rounded bg-secondary w-100 h-100 overflow-hidden">
            <%= image_tag asset.generate_url(width: 250), class: "object-fit-contain"  %>
          </div>
        </div>

        <div class="text-center">
          <% file_name_format = asset.attachment.filename.to_s.split(".") %>
          <div class="text-truncate">
            <small>
              <%= file_name_format.first %>
            </small>
          </div>

          <div>
            <small>
              <%= file_name_format.last.upcase %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
