<% content_for :modal_header do %>
  <h4>Select an image</h4>
<% end %>

<% content_for :modal_body do %>
  <div>
    <div clas="row">
      <div class="col-12">
        <%= form_with model: [:admin, @object], url: aypex.admin_assets_path, method: :post, data: {turbo_frame: :asset_collection} do |f| %>
          <%= f.label :attachment, class: "d-block bg-body mb-3 rounded border dashed p-3 align-center text-center" do %>
            <div>
              <span class="badge text-bg-info"><%= I18n.t('aypex.admin.add_images') %></span>
            </div>
            <div>
              <small><%= I18n.t('aypex.admin.or_drag_and_drop') %></small>
            </div>
          <% end %>
          <%= f.file_field :attachment, class: "d-none" %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag :asset_collection do %>
      <div class="row">
        <% @collection.each do |asset| %>
          <div class="col-2 my-3"
               id="<%= dom_id(asset) %>"
               data-controller="get-id"
               data-get-id-input-value-outlet="#image_asset_id">

            <div class="thumbnail-image-container large-img rounded bg-body border p-2"
                 data-action="click->get-id#setValue"
                 data-get-id-id-param="<%= asset.id %>">
              <div class="d-flex align-iten-center rounded bg-secondary w-100 h-100 overflow-hidden">
                <%= image_tag asset.generate_url(width: 250), class: "object-fit-contain"  %>
              </div>
            </div>

            <div class="text-center">
              <% file_name_format = asset.attachment.filename.to_s.split(".") %>
              <div class="text-truncate">
                <small>
                  <%= file_name_format.first %>
                </small>
              </div>

              <div>
                <small>
                  <%= file_name_format.last.upcase %>
                </small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: [:admin, @target] do |f| %>
      <%= f.hidden_field :asset_id, data: { controller: "input-value" } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%= submit_tag(I18n.t('aypex.admin.save'), class: "btn btn-primary", form: :address_form) %>
<% end %>

<%= render partial: 'aypex/admin/shared/modal', locals: {modal_dialog_settings: "modal-dialog-centered modal-dialog-scrollable modal-lg"} %>
