<% content_for :modal_header do %>
  <h4>Select an image</h4>
<% end %>

<% content_for :modal_body do %>
  <div>
    <div clas="row">
      <div class="col-12">
        <%= form_with model: [:admin, @object], url: aypex.admin_assets_path, method: :post, data: {turbo_frame: :asset_collection} do |f| %>
          <%= f.label :attachment, class: "d-block bg-body mb-3 rounded border dashed p-3 align-center text-center" do %>
            <div>
              <span class="badge text-bg-info"><%= I18n.t('aypex.admin.add_images') %></span>
            </div>
            <div>
              <small><%= I18n.t('aypex.admin.or_drag_and_drop') %></small>
            </div>
          <% end %>

          <%= f.file_field :attachment, class: "d-none" %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

    <%= render partial: "aypex/admin/assets/collection" %>

    <%= form_with model: [:admin, @target] do |f| %>
      <%= f.hidden_field :asset_id, data: { controller: "input-value" } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%= submit_tag(I18n.t('aypex.admin.save'), class: "btn btn-primary", form: :address_form) %>
<% end %>

<%= render partial: 'aypex/admin/shared/modal', locals: {modal_dialog_settings: "modal-dialog-centered modal-dialog-scrollable modal-lg"} %>
