<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= Aypex.t(:basic_information) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.field_container :name do %>
      <%= f.text_field :name, required: true %>
      <%= f.label :name, raw(I18n.t("aypex.admin.name") + required_span_tag) %>
    <% end %>

    <%= f.field_container :code do %>
      <%= f.text_field :code, required: true %>
      <%= f.label :code, raw(I18n.t("aypex.admin.code") + required_span_tag) %>
    <% end %>

    <%= f.field_container :url do %>
      <%= f.text_field :url, required: true %>
      <%= f.label :url, raw(I18n.t("aypex.admin.url") + required_span_tag) %>
    <% end %>
  </div>
</div>
