<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('aypex.admin.branding') %>
    </h4>
  </div>
  <div class="card-body">
    <%= turbo_frame_tag :store_branding do %>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0"><%= I18n.t('aypex.admin.default_logo') %></h6>
            <small><%= I18n.t('aypex.admin.used_for_most_common_logo_applications') %></small>
          </div>

          <%= render partial: 'aypex/admin/shared/asset_uploader', locals: {object: @store.logo, scale_images: 0.5, aspect_ratio: "16 / 9"} %>
        </div>

        <div class="col-12 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0"><%= I18n.t('aypex.admin.square_logo') %></h6>
            <small><%= I18n.t('aypex.admin.used_by_social_media') %></small>
          </div>

          <%= render partial: 'aypex/admin/shared/asset_uploader', locals: {object: @store.square_logo, scale_images: 0.5, aspect_ratio: "16 / 9"} %>
        </div>

        <div class="col-12 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0"><%= I18n.t('aypex.admin.icon') %></h6>
            <small><%= I18n.t('aypex.admin.used_for_legacy_icons_favicons_apple_touch_icons') %></small>
          </div>

          <%= render partial: 'aypex/admin/shared/asset_uploader', locals: {object: @store.icon, scale_images: 0.5, aspect_ratio: "16 / 9"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
