<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= I18n.t("aypex.admin.footer") %>
    </h5>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @store], data: {controller: "form-state"} do |f| %>
      <%= f.field_container :description do %>
        <%= f.text_area :description %>
        <%= f.label :description, I18n.t("aypex.admin.description") %>
      <% end %>

      <%= f.field_container :address do %>
        <%= f.text_area :address %>
        <%= f.label :address, I18n.t("aypex.admin.address") %>
      <% end %>

      <%= f.field_container :contact_phone do %>
        <%= f.text_field :contact_phone %>
        <%= f.label :contact_phone, I18n.t("aypex.admin.contact_phone") %>
      <% end %>

      <%= render partial: 'aypex/admin/shared/resource_actions' %>
    <% end %>
  </div>
</div>
