<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t("aypex.admin.section_settings") %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <%= form_with model: @cms_section, scope: :cms_section, url: aypex.admin_cms_page_cms_section_path(@cms_page, @cms_section), class: "row", data: {controller: "form-validation", turbo_frame: :cms_section_settings}, method: :patch, id: :cms_section_edit do |f| %>
      <div class="col-12 col-md-4">
        <%= f.field_container :name do %>
          <%= f.text_field :name, required: true %>
          <%= f.label :name, raw(I18n.t("aypex.admin.name") + required_span_tag) %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <div class="form-check">
          <%= f.check_box :is_full_screen %>
          <%= f.label :is_full_screen, I18n.t('aypex.admin.full_width_of_screen') %>
        </div>
        <div class="form-check">
          <%= f.check_box :has_gutters %>
          <%= f.label :has_gutters, I18n.t('aypex.admin.use_gutters') %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%= remote_form_submit_button(@object, "cms_section_edit") %>
<% end %>

<%= render partial: 'aypex/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
