<%= turbo_stream.update "page-live-edit-header" do %>
  <div class="d-grid gap-2 p-2">
    <%= form_with model: @object,
                  scope: :cms_component,
                  url: aypex.admin_cms_page_cms_section_cms_components_path(@cms_page, @cms_section),
                  class: "w-100",
                  method: :post, id: :cms_component_create do |f| %>

      <%= f.hidden_field :type, value: "Aypex::Cms::Component::ImageHero" %>
      <%= submit_tag "Add Component", class: "btn btn-light w-100" %>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.update "cms-page-sections-area" do %>
  <%= render 'form' %>
<% end %>

<%= turbo_stream.update "live-view-content" do %>
  <%= render 'aypex/admin/shared/iframe', resource: @object %>
<% end %>
