<%= turbo_frame_tag :sections do %>
  <div id="page-live-edit-header" class="position-absolute top-0 bg-body border-bottom border-end" style="z-index: 1041; height: 60px; width: calc(25%);">
    <div class="d-grid gap-2 p-2">
      <%= link_to(I18n.t('aypex.admin.cancel'), aypex.edit_admin_cms_page_path(@cms_page), { data: { turbo_frame: :_top }, class: 'btn btn-aypex w-100' }) %>
    </div>
  </div>

  <%= form_with model: [:admin, @cms_page, @cms_section], url: aypex.admin_cms_page_cms_sections_path, class: "d-grid gap-2 p-2", data: { controller: "input--required"} do |f| %>
    <%= f.field_container :type do %>
      <%= f.select(:type, @cms_section.types_data.pluck(:name, :type), {include_blank: false}) %>
      <%= f.label :type, I18n.t('aypex.admin.section_type') %>
    <% end %>
    <%= f.submit I18n.t("aypex.admin.create_section"), class: "btn btn-primary" %>
  <% end %>
<% end %>
