<% size ||= 250 %>
<% scale_images ||= 1 %>
<% aspect_ratio ||= "1 / 1" %>

<div class="row">
  <div class="col-12">
    <%= render partial: "aypex/admin/shared/thumbnail", locals: { asset: object&.image&.asset, scale_images: scale_images, size: size, aspect_ratio: aspect_ratio } %>

    <div class="row m-auto g-0 pt-2">
      <% if object&.image&.asset&.attachment&.attached? %>
      <div class="col-6">
        <%= form_with scope: :assets, model: [:admin, object.image], url: aypex.admin_open_asset_manager_path, method: :post, data: {turbo_frame: :modal} do |f| %>
          <%= f.hidden_field :viewable_type %>
          <%= f.hidden_field :viewable_id %>

          <%= f.submit I18n.t('aypex.admin.change'), class: "btn btn-secondary w-100 rounded-end-0" %>
        <% end %>
      </div>

      <div class="col-6">
        <%= form_with model: [:admin, object.image], url: aypex.admin_image_path, method: :delete do |f| %>
          <%= f.submit I18n.t('aypex.admin.remove'), class: "btn btn-secondary w-100 rounded-start-0" %>
        <% end %>
      </div>
      <% else %>
        <div class="col-12">
          <%= form_with scope: :assets, model: [:admin, object.image], url: aypex.admin_open_asset_manager_path, method: :post, data: {turbo_frame: :modal} do |f| %>
            <%= f.hidden_field :viewable_type %>
            <%= f.hidden_field :viewable_id %>

            <%= f.submit I18n.t('aypex.admin.add_an_image'), class: "btn btn-secondary w-100 rounded-end-0" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
