<% content_for :page_title do %>
  <%= @store.name %>
<% end %>

<% content_for :additional_form_buttons do %>
  <%= link_to_with_icon I18n.t("aypex.admin.delete"), aypex.admin_store_url(@store), { class: 'btn btn-danger', data: { confirm: I18n.t("aypex.admin.are_you_sure"), method: :delete }, icon: 'delete.svg' } if can?(:delete, @store) && @store.can_be_deleted? %>
<% end %>

<div class="row" data-hook="admin_store_form_fields">
  <div class="col-12 col-md-6">
    <%= render partial: 'aypex/admin/stores/form/basic' %>
  </div>
  <div class="col-12 col-md-6">
    <%= render partial: 'aypex/admin/stores/form/emails'%>
  </div>
  <div class="col-12">
    <%= render partial: 'aypex/admin/stores/form/internationalization' %>
  </div>

  <% if @store.persisted? %>
    <div class="col-12">
      <%= render partial: 'aypex/admin/stores/form/digitals' %>
    </div>
    <div class="col-12">
      <%= render partial: 'aypex/admin/stores/form/branding' %>
    </div>
    <div class="col-12">
     <%= render partial: 'aypex/admin/stores/form/seo' %>
    </div>
    <div class="col-12 col-md-6">
      <%= render partial: 'aypex/admin/stores/form/social' %>
    </div>
    <div class="col-12 col-md-6">
      <%= render partial: 'aypex/admin/stores/form/footer' %>
    </div>
  <% end %>
</div>
