<% content_for :page_title do %>
  <%= plural_resource_name(Aypex::ReimbursementType) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon I18n.t("aypex.admin.new_reimbursement_type"), new_object_url, { class: "btn-primary btn", icon: 'plus-square.svg', id: 'admin_new_reimbursement_type' } %>
<% end if can?(:create, Aypex::ReimbursementType) %>

<% if @reimbursement_types.any? %>
<div class="table-responsive border rounded">
  <table class="table" id='listing_reimbursement_types' data-hook>
    <thead class="text-body-secondary">
      <tr data-hook="reimbursement_types_header">
        <th><%= I18n.t("aypex.admin.name") %></th>
        <th><%= I18n.t("aypex.admin.type") %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursement_types.each do |reimbursement_type| %>
        <tr id="<%= dom_id(reimbursement_type) %>" data-hook="reimbursement_type_row" data-stream-exit-class="animate__fadeOut">
          <td class="align-center">
            <%= reimbursement_type.name.humanize %>
          </td>
          <td>
            <%= reimbursement_type.type.demodulize %>
          </td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(reimbursement_type) if can?(:edit, reimbursement_type) %>
              <%= link_to_delete(reimbursement_type) if can?(:delete, reimbursement_type) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::ReimbursementType)) %>
  </div>
<% end %>
