<%= form_with model: @promotion, url: object_url, method: :put do |f| %>
  <div id="product_option_value_set_container">
    <apx-card>
      <apx-body>
        <div class="row">
          <div class="col-12 mb-3" data-controller="form--autosave">
            <div class="form-floating">
              <%= select_tag "product_id", nil, class: 'form-select',
                                               placeholder: I18n.t('aypex.admin.search_products_by_name_or_sku'),
                                               data: {
                                                       action: 'form--autosave#save',
                                                       form__autosave_target: 'paramHolder',
                                                       controller: 'ts--search',
                                                       ts__search_endpoint_value: 'products',
                                                       ts__search_ransack_value: ['search_by_name'],
                                                       ts__search_custom_params_value: [ ['[filter]has_variants', true] ]
                                                     } %>

              <%= label_tag 'product', I18n.t('aypex.admin.product') %>
            </div>

            <%= link_to "save", aypex.admin_promotion_promotion_rule_product_options_path(@promotion, promotion_rule, stream_id: "card_#{dom_id(promotion_rule)}_new_set"), data: { form__autosave_target: 'submitButton', turbo_stream: true } %>
          </div>

          <div class="col-12">
            <%= f.fields_for :promotion_rules, promotion_rule do |pr|%>
              <div id="card_<%= dom_id(promotion_rule) %>_new_set" class="form-floating">
                <%= pr.collection_select(:preferred_eligible_values, [], :id, :presentation, {include_blank: false}, { multiple: true, disabled: true, placeholder: 'Search Options' , class: 'form-select', data: { controller: 'ts--select' } }) %>
                <%= label_tag 'options', I18n.t('aypex.admin.options') %>
              </div>
            <% end %>
          </div>
        </div>
      </apx-body>
    </apx-card>

    <hr class="my-5">

    <%= turbo_frame_tag :opts, src: aypex.admin_promotion_promotion_rule_get_product_option_values_path(@promotion, promotion_rule) %>
  </div>

  <div class="text-end">
    <%= render partial: 'aypex/admin/shared/submit_button' %>
  </div>
<% end %>
