<fieldset id="risk_analysis">
  <legend><%= "#{I18n.t("aypex.admin.risk_analysis")}: #{I18n.t("aypex.admin.not") unless @order.is_risky?} #{I18n.t("aypex.admin.risky")}" %></legend>
  <div class="table-responsive border rounded">
    <table class="table table-condensed border rounded">
      <thead class="text-muted">
        <th><%= I18n.t('aypex.admin.risk') %></th>
        <th><%= I18n.t('aypex.admin.status') %></th>
      </thead>
      <tbody id="risk-analysis" data-hook="order_details_adjustments" class="with-border">
        <tr>
          <td>
            <strong><%= I18n.t("aypex.admin.failed_payment_attempts") %>:</strong>
          </td>
          <td>
            <span class="badge rounded-pill bg-<%= @order.payments.failed.size > 0 ? 'void' : 'complete' %>">
              <%= link_to "#{I18n.t("aypex.admin.payments_count", count: @order.payments.failed.size, default: pluralize(@order.payments.failed.size, I18n.t("aypex.admin.payment"))}"), aypex.admin_order_payments_path(@order) %>
            </span>
          </td>
        </tr>

        <tr>
          <td><strong><%= I18n.t("aypex.admin.avs_response") %>:</strong></td>
          <td>
            <span class="badge rounded-pill bg-<%= latest_payment.is_avs_risky? ? 'void' : 'complete' %>">
              <% if latest_payment.is_avs_risky? %>
                <%= "#{I18n.t("aypex.admin.error")}: #{avs_response_code[latest_payment.avs_response]}" %>
              <% else %>
                <%= I18n.t("aypex.admin.success") %>
              <% end %>
            </span>
          </td>
        </tr>

        <tr>
          <td><strong><%= I18n.t("aypex.admin.cvv_response") %>:</strong></td>
          <td>
            <span class="badge rounded-pill bg-<%= latest_payment.is_cvv_risky? ? 'void' : 'complete' %>">
              <% if latest_payment.is_cvv_risky? %>
                <%= "#{I18n.t("aypex.admin.error")}: #{cvv_response_code[latest_payment.cvv_response_code]}" %>
              <% else %>
                <%= I18n.t("aypex.admin.success") %>
              <% end %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
