<% content_for :page_title do %>
  <%= plural_resource_name(Aypex::ShippingMethod) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon Aypex.t(:new_shipping_method), new_object_url,  class: "btn-primary btn", icon: 'plus-square.svg', id: 'admin_new_shipping_method_link' %>
<% end if can? :create, Aypex::ShippingMethod %>

<% if @shipping_methods.any? %>
<div class="table-responsive border rounded">
  <table class="table" id='listing_shipping_methods'>
    <thead class="text-muted">
      <tr data-hook="admin_shipping_methods_index_headers">
        <th><%= I18n.t("aypex.admin.name") %></th>
        <% if defined?(Aypex::Vendor) %>
          <th class="text-center"><%= Aypex.t(:vendor) %></th>
        <% end %>
        <th class="text-center"><%= Aypex.t(:zone) %></th>
        <th class="text-center"><%= Aypex.t(:calculator) %></th>
        <th class="text-center"><%= I18n.t("aypex.admin.display") %></th>
        <th data-hook="admin_shipping_methods_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_methods.includes(:zones, :calculator).each do |shipping_method| %>
        <tr id="<%= dom_id(shipping_method) %>" data-hook="admin_shipping_methods_index_rows" data-stream-exit-class="animate__fadeOut">
          <td>
            <%= shipping_method.name %>
            <% if shipping_method.admin_name.present? %>
              <small class="badge rounded-pill rgb-hsl-secondary ms-2">
                <%= shipping_method.admin_name %>
              </small>
            <% end %>
          </td>
          <% if defined?(Aypex::Vendor) %>
             <td class="text-center">
              <% if shipping_method.vendor.present? %>
                <%= link_to shipping_method.vendor.name, aypex.admin_vendor_path(shipping_method.vendor_id) %>
              <% end %>
             </td>
          <% end %>
          <td class="text-center">
            <% shipping_method.zones.each do |zone| %>
              <%= link_to zone.name, aypex.edit_admin_zone_path(zone), class: 'badge rounded-pill rgb-hsl-secondary' %>
            <% end %>
          </td>
          <td class="text-center"><%= shipping_method.calculator.description %></td>
          <td class="text-center">
            <% if shipping_method.display_on.blank? %>
              <span class="badge rounded-pill rgb-hsl-danger">
                <%= I18n.t("aypex.admin.none") %>
              </span>
            <% else %>
              <span class="badge rounded-pill rgb-hsl-success">
                <%= I18n.t("aypex.admin.display_on.#{shipping_method.display_on}") %>
              </span>
            <% end %>
          <td class="actions" data-hook="admin_shipping_methods_index_row_actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(shipping_method) if can? :edit, shipping_method %>
              <%= link_to_delete(shipping_method) if can? :delete, shipping_method %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::ShippingMethod)) %>,
    <%= link_to(I18n.t("aypex.admin.add_one"), new_object_url) if can? :create, Aypex::ShippingMethod %>!
  </div>
<% end %>
