<% content_for :breadcrumb do %>
  <%= breadcrumb_builder(link_one_uri: aypex.admin_stock_transfers_path, link_one_text: I18n.t("aypex.admin.stock_transfers"), current_page_name: @stock_transfer.number) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon I18n.t("aypex.admin.new_stock_transfer"), new_admin_stock_transfer_path, { icon: 'add', class: 'btn-primary ' } %>
<% end if can? :create, Aypex::StockTransfer %>

<fieldset>
  <legend><%= I18n.t("aypex.admin.stock_transfer_name") %></legend>
<div class="table-responsive border rounded">
  <table class="table border rounded">
    <tr>
      <td width="30%"><strong><%= I18n.t("aypex.admin.created_at") %></strong></td>
      <td><%= pretty_time(@stock_transfer.created_at) %></td>
    </tr>
    <% if @stock_transfer.reference.present? %>
      <tr>
        <td><strong><%= I18n.t("aypex.admin.reference") %></strong></td>
        <td><%= @stock_transfer.reference %></td>
      </tr>
    <% end %>
  </table>
</div>
  <% if @stock_transfer.source_movements.present? %>
    <fieldset>
      <legend id="stock-location-source">
        <%= I18n.t("aypex.admin.source") %> / <%= @stock_transfer.source_location.name %>
      </legend>
      <%= render partial: 'stock_movements', object: @stock_transfer.source_movements %>
    </fieldset>
  <% end %>

  <% if @stock_transfer.destination_movements.present? %>
    <fieldset>
      <legend id="stock-location-destination">
        <%= I18n.t("aypex.admin.destination") %> / <%= @stock_transfer.destination_location.name %>
      </legend>
      <%= render partial: 'stock_movements', object: @stock_transfer.destination_movements %>
    </fieldset>
  <% end %>
</fieldset>
